.form {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    border-bottom: 10px solid #ddd;
}
    @media(max-width: 767px) {
        .form {
            grid-template-columns: 1fr;
        }

}

.form__input {
    border: solid 2px #ddd;
}

.form__button {
    background-color: hsl(180, 100%, 25%);
    color: white;
    padding: 10px 10px;
    border-style: none;
    font-size: 15px;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}
