.list {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px;
    grid-gap: 20px;
    border-bottom: 1px solid hsl(0, 5%, 92%);
}

.tasks {
    margin: 0;
    padding: 20px;
}

.list__item--done {
    text-decoration: line-through;
}

.list__button {
    background-color: hsl(120, 100%, 25%);
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-style: none;
    transition: 1s;
}

.list__button:hover {
    background: hsl(120, 100%, 35%);
}

.list__button--done {
    color: white;
    cursor: pointer;
}

.list__button--done:active{
    background:hsl(120, 76%, 35%);
    border:1px solid black;
}

.list__taskName--done {
    text-decoration: line-through;

}

.list__button--remove{
    background-color: hsl(0, 100%, 50%);
    border-style: none;
    color: white;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: 1s;
}

.list__button--remove:hover {
    background: hsl(0, 100%, 60%); 
}

.list__button--remove:active{
    background-color: hsl(0, 100%, 60%);
    border: 1px solid black;
}

