.section {
    margin: 0 auto;
    background-color: white;
    
}

.section__title {
    font-size: 20px;
    margin: 0;
}

.section__header {
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0;
}

@media(max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}
