.section {
    margin: 0 auto;
    background-color: white;
}

.section__header {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
}

.section__list {
    margin: 0;
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.section__tasks {
    margin: 0;
    padding: 20px;

}

.tasks__button {
    background-color:rgb(205, 45, 45);
    color: white;
    border-color: white;
}
